@charset 'utf-8';

body, div, ul, li, h4 {margin: 0; padding: 0;}
ul li {list-style: none; float: left;}

.wrap {width: 100%; min-width: 1180px; height: 700px;}
.titles {height: 150px; }
.titles ul {width: 840px; height: 150px;  margin: 0 auto;}
.titles ul li {width: 120px; height: 150px; text-align: center; border-bottom: 1px solid #d6d6d6; font-size: 14px;}
.titles ul li a {width: 120px; height: 150px; display: block; text-decoration: none; color: #333;}
.titles ul li a figure {display: block; width: 100px; height: 90px; background-size: contain !important; margin: 20px auto 5px auto;}
.titles li.selected {border-bottom: 1px solid #000;}


.contents {height: 450px; margin-top: 70px;}
.contents .item {width: 1180px; height: 450px; margin: 0 auto;}
.contents .item .left {width: 590px; height: 450px; float: left;  box-sizing: border-box; background-size: cover !important;}
.contents .item .right {width: 590px; height: 450px; float: right;  box-sizing: border-box; padding-left: 80px;}
.contents .item .right .img {width: 100px; height: 100px; background-size: contain !important;}
.contents .item .right .subTitle {font-size: 30px; font-weight: bolder;}
.contents .item .right .des {margin: 20px 0; line-height: 25px; font-size: 18px; color: #333;}
.contents .item .right a {font-size: 18px; letter-spacing: 3px; text-decoration: none; color: #0070c9;}
.contents .item .right a:hover {text-decoration: underline;}